* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url("../img/fondo.jpg");
  padding: 1.1em;
}

@media screen and (min-width: 1024px) {
  main span, main .edades {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
  }
  main h1 {
    font-size: 5em;
    transition: 2s;
  }
  main h1:hover {
    font-size: 7em;
  }
  main h2 {
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
  }
  main img:hover {
    width: 100%;
    height: 90%;
  }
  main .edades {
    font-size: 2em;
    transition: 2s;
    margin: 1.2px;
    padding: 1.2px;
    border: 2px solid orangered;
    background-color: orangered;
    color: black;
    align-items: center;
  }
  main .edades:hover {
    font-size: 3em;
  }
  footer div {
    display: flex;
    align-items: center;
  }
  footer div a img {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    transition: 2s;
    animation-name: rotarelemento;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
  }
  @keyframes rotarelemento {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(360deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  footer div a img:hover {
    transform: rotate(360deg) translateX(-20px);
  }
  header nav div {
    display: flex !important;
    justify-content: end !important;
  }
  header nav div div ul li a {
    font-size: 2em !important;
    font-weight: bold !important;
  }
}
main {
  display: grid;
  place-items: center;
  color: orangered;
  font-weight: bold;
  text-align: center;
}
main span, main .edades {
  font-size: 2em;
  font-family: "Arial";
}
main h1 {
  font-size: 4em;
}
main h2 {
  font-size: 3em;
}
main .imagen-principal {
  margin: 1.1em;
  padding: 1.1em;
  width: 90%;
  height: 70%;
  transition: 3s;
}
@media screen and (min-width: 1024px) {
  main span, main .edades {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
  }
  main h1 {
    font-size: 5em;
    transition: 2s;
  }
  main h1:hover {
    font-size: 7em;
  }
  main h2 {
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
  }
  main img:hover {
    width: 100%;
    height: 90%;
  }
  main .edades {
    font-size: 2em;
    transition: 2s;
    margin: 1.2px;
    padding: 1.2px;
    border: 2px solid orangered;
    background-color: orangered;
    color: black;
    align-items: center;
  }
  main .edades:hover {
    font-size: 3em;
  }
  footer div {
    display: flex;
    align-items: center;
  }
  footer div a img {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    transition: 2s;
    animation-name: rotarelemento;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
  }
  @keyframes rotarelemento {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(360deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  footer div a img:hover {
    transform: rotate(360deg) translateX(-20px);
  }
  header nav div {
    display: flex !important;
    justify-content: end !important;
  }
  header nav div div ul li a {
    font-size: 2em !important;
    font-weight: bold !important;
  }
}
footer {
  display: grid;
  place-items: center;
  color: orangered;
  font-weight: bold;
  text-align: center;
}
footer div p {
  font-family: "Arial";
  font-size: 2em;
  margin: 1.1em;
  padding: 1.1em;
}
footer div .logo {
  width: 5em;
  height: 5em;
}
footer div div a img {
  margin: 1.1em;
  padding: 1.1em;
}

header nav div {
  background-image: linear-gradient(to right, black, rgb(53, 35, 2)) !important;
}
header nav div .burger {
  background-color: orange !important;
}
header nav div div ul li a {
  margin: 1em;
  color: orangered !important;
  transition: 2s;
}
header nav div div ul li a:hover {
  transform: translate(-20px);
}
header nav div a img {
  width: 2em;
  height: 2em;
}

.parte-historia .div-historia {
  margin: 1.5em;
  padding: 1.5em;
}
.parte-historia .div-historia .h2-historia {
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3em;
}
.parte-historia .div-historia .parrafo-historia {
  margin: 1.5em;
  padding: 1.5em 1.5em;
  border: 4px solid orange;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  background: rgb(0, 0, 5);
  background: linear-gradient(94deg, rgb(0, 0, 5) 0%, rgba(149, 144, 36, 0.7148109244) 95%);
}

.parte-contacto .div-contacto {
  display: block;
}
.parte-contacto .div-contacto form {
  display: grid !important;
  place-items: center !important;
  margin: 1.1em;
  padding: 1.1em 1.1em;
}
.parte-contacto .div-contacto form button {
  margin: 1em;
  padding: 1em;
}

@media screen and (min-width: 1024px) {
  main span, main .edades {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
  }
  main h1 {
    font-size: 5em;
    transition: 2s;
  }
  main h1:hover {
    font-size: 7em;
  }
  main h2 {
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
  }
  main img:hover {
    width: 100%;
    height: 90%;
  }
  main .edades {
    font-size: 2em;
    transition: 2s;
    margin: 1.2px;
    padding: 1.2px;
    border: 2px solid orangered;
    background-color: orangered;
    color: black;
    align-items: center;
  }
  main .edades:hover {
    font-size: 3em;
  }
  footer div {
    display: flex;
    align-items: center;
  }
  footer div a img {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    transition: 2s;
    animation-name: rotarelemento;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
  }
  @keyframes rotarelemento {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(360deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  footer div a img:hover {
    transform: rotate(360deg) translateX(-20px);
  }
  header nav div {
    display: flex !important;
    justify-content: end !important;
  }
  header nav div div ul li a {
    font-size: 2em !important;
    font-weight: bold !important;
  }
}

/*# sourceMappingURL=style.css.map */
