$color-principal: orangered;

$fuente-normal: 2em;
$fuente-pequena: 1.5em;
$fuente-grande: 5em;
$fuente-extra-grande: 8em;

$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;
