$color-principal: orangered;

$fuente-normal: 3em;
$fuente-pequena: 2em;
$fuente-grande: 4em;

$bg-color-1: black;
$bg-color-2: orange;

$margin-small: 1.1em;
$margin-medium: 1.5em;
$margin-large: 2em;

$padding-small: 1.1em;
$padding-medium: 1.5em;
$padding-large: 2em;

$font-family-base: 'Arial';
$font-family-2: 'Georgia';