$color-principal: orangered;

$fuente-normal: 2em;
$fuente-pequena: 1.5em;
$fuente-grande: 5em;
$fuente-extra-grande: 8em;

$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;

$bg-color-1: black;
$bg-color-2: blanchedalmond;

$margin-small: 1.1em;
$margin-medium: 1.5em;
$margin-large: 2em;

$padding-small: 1.1em;
$padding-medium: 1.5em;
$padding-large: 2em;

$font-family-base: 'Arial';
$font-family-2: 'Georgia';