@import "../utilities/variables";

@import "../utilities/minxin";

@import "../responsive/medias-1024px.scss";



footer{ @include grid;
    text-align: center;
    
   div{
    p{ font-family: $font-family-base;
    font-size: $fuente-pequena;
    margin: $margin-small;
    padding: $padding-small;}

    .logo{width: 5em;
        height: 5em; }
    a{
        img{margin:$margin-small;
        padding:$padding-small;
        width: 6em;
        height: 6em;
   }
    

    }
}}