@import "../utilities/variables";

footer{color: $color-principal;
    display: grid;
    place-items: center;
    margin: 1.1em;
    padding: 1.1em;
   

div{
    p{ font-family: $font-family-base;
    font-size: $fuente-pequena;
margin: $margin-small;
padding: $padding-small;}
    .logo{width: 5em;
        height: 5em; }
    a{
        img{margin:$margin-small;
        padding:$padding-small;
        width: 6em;
        height: 6em;
   }
    

    }
}}