@import "../utilities/variables";

header{
    nav{
        div{background-image: linear-gradient(to right, black, rgb(53, 35, 2))!important;
            .burger{ background-color: $bg-color-2 !important;}
            div{
                ul{
                   li{
                    a{ margin: 1em;
                        color: $color-principal !important;
                        transition: 2s;
                        &:hover{
                            transform: translate(-20px);
                        }
                    }
                   }
                }
            }
            a{
                img{
                    width: 2em;
                    height: 2em;
                }
            }
        }
    }
}