@import "../utilities/variables";
@import "../utilities/minxin";
@import "../responsive/medias-1024px.scss";


main{ @include grid;
    text-align: center;

    span{ font-size: $fuente-pequena;
    font-family: $font-family-base;}

    h1{font-size: $fuente-grande;}

    h2{font-size: $fuente-normal;}
    
    .imagen-principal{ margin: $margin-small;
        padding: $padding-small;
        width: 90%;
        height: 70%;
    transition: 3s;}
    .edades{ @extend span}

}