@import "../utilities/variables";

main{display: grid;
    place-items: center;
    color: $color-principal;
    font-weight: bold;
    text-align: center;

    span{ font-size: $fuente-pequena;
    font-family: $font-family-base;}

    h1{font-size: $fuente-grande;}

    h2{font-size: $fuente-normal;}
    
    .imagen-principal{ margin: $margin-small;
        padding: $padding-small;
        width: 50em;
        height: 40em;}
    p{ @extend span}

}